*{
    box-sizing: border-box;
}
body{
    font-family:'roboto', sans-serif;
    background: lightgray;
}
#sidemenu{
    background:rgb(39, 37, 58);
    width: 280px;
    position: absolute;
    top:0;
    bottom: 0;
    
    
}

nav{
    margin-top: 100px;
}

a {
    display: block;
    color: rgb(107, 104, 104);
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 300;
    transition: all 0.3s ease-in-out;

}

a:hover {
    text-decoration: none;
    color: #CCC;
}
nav >:hover{
    background: rgb(14, 13, 17);
    border-left: 5px solid  rgb(127, 194, 27);
    padding: 15px 30px 15px 25px;
}
:hover> .fa{
    color:  rgb(127, 194, 27);

}
nav >.active{
     background: rgb(14, 13, 17);
     border-left: 5px solid  rgb(127, 194, 27);
     padding: 15px 30px 15px 25px;
}
.fa{
    color: grey;
    font-size: 1.4rem;
    margin-right: .2rem;
    display: inline-block;
    width: 30px;
    position: relative;
    top:2px;
}

#content-area{
    margin-left: 280px;
    padding: 15px;
}
.cards{
    display: inline-block; 
    width: 295px;
    height: 150px;
    background:rgb(39, 37, 58);
    color:   rgb(127, 194, 27);
    border-radius: 5px;
}

:hover> .cards{
    color:  rgb(127, 194, 27);
}
span{
    padding: 50px;
    font-size: 50PX;
    font-weight: 300
}
.col-lg-4{
    margin-left: 350px;                           
}
.text-center{
    margin-top: 50px;
    color:rgb(39, 37, 58);
}

